.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 485px;

}

.loginBox>*:first-child{
    align-self: flex-start;

}

.logo{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo>h1{
    align-self: baseline;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text], input[type=password]{
    padding: 12px 20px;
    border: 1px solid #878787;
    border-radius: 2px;
    font-size: 16px;
}


input[type=button]{
    
    background-color: #1777BD;
    color: #FFF;
    font-family: 'Bitter', serif;
    font-size: 18px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

h2{
    color: #46C6FF;
    text-decoration: underline;
    text-decoration-color: #46C6FF;
}

h4{
    color: #46C6FF;
    text-decoration: underline;
    text-decoration-color: #46C6FF;
}

body{
    background-color: #1777BD;
}

*{
    font-family: 'Bitter', serif;
}